
@import "./src/app/style/variables.scss";
.container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 100vh;

    background-color: $off-white;

    color: $primary-color;

    img{
        width: 50%;
    }

   .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0;

        .title{
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
        } 

        .text {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        button {
            padding: 1rem 2rem;
            background-color: $secondary-color;
            color: white;
            border: none;
            border-radius: 5rem;
            cursor: pointer;

            width: 20%;
            height: 3rem;

            margin-bottom: 1rem;

            &:hover {
                background-color: $light-secondary-color;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
        
   }
}