//variables

$primary-color: #3a006c;
$light-primary-color: #6a1b9a;
$secondary-color: #ff7817;
$light-secondary-color: #ff9c4f;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$off-white: #ececec;
$light-grey: #acacac;